<!DOCTYPE html>
<html>

  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="main.css">
    <meta charset="UTF-8">
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  </head>

  
  <body>
	<div class="directory-title">
   		<h1 id="home_people_list">ExpertNet People Directory</h1>
   	</div>

    <div class="people-list">
  		<ul style="list-style-type:none">
<!--   			{% for person in people %}
  				<li>
  					<a href="index.html"> {{ person }} </a>
  				</li>  
            {% endfor %} -->
          	<li><a href="sample.html#hannah_profile_link">Hannah Cutler</a></li>
            <li>Aaron Tennebein</li>
			<li>Adam Brandenburger</li>
			<li>Alessandro Lizzeri</li>
			<li>Alexander Statnikov</li>
			<li>Andreas Müller</li>
			<li>Andrew Caplin</li>
			<li>Andrew Majda</li>
			<li>Arun Sundararajan</li>
			<li>Bijan Pesaran</li>
			<li>Brenden Lake</li>
			<li>Brian McFee</li>
			<li>Bud Mishra</li>
			<li>Chuck Newman</li>
			<li>Claudio Silva</li>
			<li>Clifford M. Hurvich</li>
			<li>Constantin Aliferis</li>
			<li>Daniela Huppenkothen</li>
			<li>Daphna Harel</li>
			<li>David Cai</li>
			<li>David Clark</li>
			<li>David Heeger</li>
			<li>David Sontag</li>
			<li>David W. Hogg</li>
			<li>Dennis Shasha</li>
			<li>Dustin T. Duncan</li>
			<li>Edward Melnick</li>
			<li>Eero Simoncelli</li>
			<li>Eric Vanden-Eijnden</li>
			<li>Esteban Tabak</li>
			<li>Foster Provost</li>
			<li>Gloria Coruzzi</li>
			<li>Gérard Ben Arous</li>
			<li>Halina Frydman</li>
			<li>Jan Blustein</li>
			<li>Jeff Simonoff</li>
			<li>Jennifer Hill</li>
			<li>Jinyang Li</li>
			<li>Joel Middleton</li>
			<li>John Jost</li>
			<li>John Leahy</li>
			<li>Jonathan Goodman</li>
			<li>Juan Bello</li>
			<li>Judith D. Goldberg</li>
			<li>Juliana Freire</li>
			<li>Karen Adolph</li>
			<li>Keith Ross</li>
			<li>Kyle Cranmer</li>
			<li>Lakshminarayanan Subramanian</li>
			<li>Laura Noren</li>
			<li>Leslie Greengard</li>
			<li>Lisa Hellerstein</li>
			<li>Marc Scott</li>
			<li>Margaret Wright</li>
			<li>Mengling Liu</li>
			<li>Michael Blanton</li>
			<li>Michael Purugganan</li>
			<li>Mik Laver</li>
			<li>Ming Hu</li>
			<li>Nathaniel Daw</li>
			<li>Neal Beck</li>
			<li>Panos Ipeirotis</li>
			<li>Patrick Perry</li>
			<li>Peter Halpin</li>
			<li>Peter Lakner</li>
			<li>Petter Kolm</li>
			<li>Rebecca Liebe</li>
			<li>Richard Bonneau</li>
			<li>Rob Fergus</li>
			<li>Robert Kohn</li>
			<li>Rohit Deo</li>
			<li>Roy Lowrance</li>
			<li>S. R. Srinivasa Varadhan</li>
			<li>Sharon Weinberg</li>
			<li>Sinan Gunturk</li>
			<li>Srikanth Jagabathula</li>
			<li>Steven Koonin</li>
			<li>Suzanne McIntosh</li>
			<li>Todd Gureckis</li>
			<li>Torsten Suel</li>
			<li>Vasant Dhar</li>
			<li>Xi Chen</li>
			<li>Yann LeCun</li>
			<li>Ying Lu</li>
			<li>Youngzhao Shao</li>
		</ul>
	</div>
  </body>

</html>

<!-- <h2 id= "Torsten Suel"> Torsten Suel </h2> goes at "Name" field of Torsten Suel
<a href="index.html#Torsten_Suel"> Torsten Suel </a> -->

